.footer {
    border-top: 1px solid black;
    padding: 50px 0px;
    background-color: $primary-color;
    text-align: center;
    .text {
        font-family: "Press Start 2P", system-ui;
        color: white;
        text-align: center;
    }
    .text:last-of-type {
        margin-bottom: 0px;
    }
    .text.xs {
        font-family: $font-secondary;
        letter-spacing: 1.5px;
    }
    svg {
        margin-top: 15px;
    }
    svg path {
        color: white;
    }
    @include breakpoint(lg) {
        padding-top: 80px;
    }
}