main {
    color: white;
    a {
        color: white;  
    }
    a.hover-anim {
        transition: 0.3s ease;
        &:hover,
        &:focus {
            color: black;
        }
    }
}

html.lenis, html.lenis body {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.fadeIn {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fadeInVisible {
    opacity: 1 !important;
}