.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 2rem;
  background-color: $secondary-color;
 
  @include breakpoint(lg) {
    width: -webkit-fill-available;
    padding: 1.8rem 2rem;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;

  &__toggle {
    background: none;
    border: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    z-index: 100;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;

    @media (max-width: 991px) {
      display: block;
      position: fixed;
    }

    span {
      display: block;
      height: 2px;
      width: 1.5rem;
      background: black;
      position: relative;
      transition: all 0.3s ease-in-out;

      &::before,
      &::after {
        content: '';
        background: black;
        height: 2px;
        width: 1.5rem;
        position: absolute;
        transition: all 0.3s ease-in-out;
      }

      &::before { top: -8px; }
      &::after { bottom: -8px; }
    }

    &[aria-expanded="true"] span {
      background: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 0;
      }
    }
  }

  &__list {
    background-color: $secondary-color;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 99;
    

    @media (min-width: 992px) {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      background: none;
      height: auto;
      width: auto;
      top: auto;
      left: auto;
    }

    .nav__item {
      padding: 1rem 0;
      text-align: center;

      @media (min-width: 992px) {
        padding: 0;
        margin-left: 2rem;
      }

      .nav__link {
        color: black;
        font-size: clamp(18px, 1.5vw, 22px);
        letter-spacing: 1.5px;
        text-decoration: none;
        display: block;
        transition: 0.3s ease-in-out;
        &:hover,
        &:focus {
          opacity: 0.6;
        }
      }
    }

    &[aria-expanded="true"] {
      display: flex;
      overflow: hidden;
    }
  }
}
