.hero {
    padding: 120px 0px 60px;
    text-align: center;
    h1 {
        letter-spacing: 2.5px;
    }
    &__img {
        height: 30vh;
        min-height: 250px;
        margin-bottom: 20px;

        img {
            border-radius: 25px;
            height: 100%;
            min-height: 250px;
            object-fit: cover;
            object-position: top;
        }
    }

    @include breakpoint(lg) {
        padding: 180px 0px;
        text-align: left;
        
        .container {
            display: grid;
            grid-template-columns: 0.7fr 1fr;
            align-items: center;
            column-gap: 80px;
        }

        &__img {
            height: 50vh;
            min-height: 450px;
            img {
                height: 50vh;
                min-height: 450px;
            }
        }
        .text {
            margin: 0 auto 0px 0px;
        }

        
    }
    @include breakpoint(xl) {
        padding-top: 220px;
        .container {
            grid-template-columns: 0.85fr 1fr;
        }
        .text {
            width: 70%;
        }
    }
}


